* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    font-family: Arial, sans-serif;
}
header {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.hero {
    height: 100vh;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color:white;
    text-align: center;
    padding-top: 200px;
}
.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #fff;
    color: #1e3c72;
    font-weight: bold;
    cursor: pointer;
}
.about, .sevices, .pricing {
    padding:80px 50px;
    text-align: center;
}
.cards, .price-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
.card, .price {
    background: #f4f4f4;
    padding: 30px;
    width: 250px;
    border-radius: 10px;
}
footer {
    background:#111;
    color: white;
    text-align: center;
    padding: 20px;
}
